.el-alert--success {
  color: #fff;
  border: 1px solid rgba(37, 64, 22, 1);
  background: var(--logo-bg) no-repeat top right #18240e !important;

  .el-alert__description {
    color: #fff;
  }

  .el-alert__icon {
    color: #67c23a;
  }
}

.el-alert--info {
  background: var(--logo-bg) no-repeat top right !important;
  color: #fff;
  border: 1px solid #ddd;
  border-image: linear-gradient(rgba(46, 91, 124, 1), rgba(1, 170, 242, 1)) 3 3;

  .el-alert__description {
    color: #fff;
  }

  .el-alert__icon {
    color: #909399;
  }
}

.el-alert--warning {
  background: var(--logo-bg) no-repeat top right #28220e !important;
  color: #fff;
  border: 1px solid rgba(75, 59, 23, 1);

  .el-alert__description {
    color: #fff;
  }

  .el-alert__icon {
    color: #e6a23c;
  }
}

.el-alert--error {
  background: var(--logo-bg) no-repeat top right rgba(43, 18, 21, 1) !important;
  color: #fff;
  border: 1px solid rgba(81, 23, 26, 1);

  .el-alert__description {
    color: #fff;
  }

  .el-alert__icon {
    color: #f56c6c;
  }
}
