.el-collapse {
  background: transparent;
  border: none !important;

  .el-collapse-item__header {
    background-color: transparent;
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid rgba(36, 222, 255, 0.2);
  }

  .el-collapse-item__wrap {
    background-color: transparent;
    border: none;
  }
}

.t-drawer {
  z-index: 2010;
}

.t-drawer__content-wrapper--right {
  background: #004575;
  border: 1px solid;
  border-image: linear-gradient(180deg, rgba(116, 190, 243, 0.5), rgba(0, 180, 255, 1)) 1 1;
  font-size: 14px;

  .t-drawer__close-btn {
    background-color: transparent;
    top: 5px;
    right: 5px;
  }

  .t-drawer__header {
    height: 32px;
    min-height: 32px;
    line-height: 32px;
    padding: 0 20px;
    background: linear-gradient(270deg, rgba(0, 202, 255, 0.68) 0%, rgba(0, 150, 255, 0) 100%);
    border-image: linear-gradient(180deg, rgba(116, 190, 243, 0), rgba(0, 180, 255, 0.6)) 1 1;
    font-size: 14px;
    font-weight: 500;
    color: #b3bdca;
  }

  .t-drawer__body {
    background: transparent;
    padding: 0 20px;
  }
}

.settingBtn {
  border-bottom: 1px solid rgba(36, 222, 255, 0.2);
  color: #fff;
}

.setting-info {
  background: rgba(0, 117, 233, 0.2);

  p {
    color: #fff;
    height: 17px;
    line-height: 17px;
    font-size: 12px;
    font-weight: 400;
  }

  .t-button__text {
    font-weight: 400;
    color: #0075e9;
    line-height: 17px;
    font-size: 12px;
    height: 17px;
  }
}

.settingBtn:hover p {
  color: #24deff;
}

.el-collapse-item__header:hover {
  color: #24deff;
}
