.el-dropdown {
  cursor: pointer;
  color: #24deff;
}

.el-dropdown-menu {
  background: var(--drop-down-color);
  border: 0;
}

.el-dropdown-menu__item {
  color: var(--white-opacity7);
}

.el-dropdown-menu__item:focus,
.el-dropdown-menu__item:not(.is-disabled):hover {
  background: linear-gradient(to right, rgba(2, 30, 54, 0.2), rgba(0, 144, 188, 0.8));
  color: var(--light-blue-color);
  font-weight: 400;
}
