.el-message {
  border: 1px solid #ddd;
  border-image: linear-gradient(rgba(46, 91, 124, 1), rgba(1, 170, 242, 1)) 3 3;
  border-radius: 0;
  background: var(--logo-bg) no-repeat top right,
    linear-gradient(to bottom, rgba(0, 162, 218, 0.3), rgba(0, 162, 218, 0.6)) !important;
  background-size: 100% 100% !important;

  .el-message__content {
    color: #fff !important;
  }
}
