.el-slider__bar {
  background-color: var(--light-blue-color);
}

.el-slider__runway {
  background-color: #162b40;
}

.secondmenu,
.menuTitle {
  border-bottom: 1px solid #24deff;
  color: #fff;
}

.secondmenu .secondTitle {
  color: #fff;
}

.thirdmenu div {
  color: #fff;
}

.secondmenu .secondTitle:hover {
  color: #24deff;
}

.secondmenu .secondDefault:hover {
  color: #fff !important;
}

.thirdmenu div:hover {
  color: #24deff;
}

.el-icon-arrow-right::before {
  color: #fff !important;
}

.el-slider__button-wrapper {
  z-index: 0;
}
