.marquee-fa {
  display: flex;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 0 10px 0 rgba(144, 147, 153, 0);
  background: var(--logo-bg) no-repeat top right,
    linear-gradient(360deg, rgba(0, 68, 115, 0.64) 0%, rgba(0, 72, 122, 0.16) 100%) !important;

  .marquee_head {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--light-blue-color);
    font-weight: 500;
  }

  .scrollMarquee {
    color: #fff;
    font-size: 16px;
  }
}
