.t-tabs__nav--card.t-tabs__nav-item.t-is-active {
  color: var(--white-color);
  background: rgba(6, 81, 66, 0.8);
}

.t-tabs__nav--card.t-tabs__nav-item.t-is-active svg {
  color: red;
}

.t-tabs__nav-item.t-size-m {
  height: 32px;
  line-height: 32px;
}

.t-tabs__nav--card {
  background: linear-gradient(to bottom, transparent, rgba(0, 118, 162, 0.34));
}

.t-tabs__btn.t-size-m {
  height: 32px;
  line-height: 32px;
}

.t-tabs__btn--left,
.t-tabs__btn--right {
  background: #383838;
}

.t-tabs__nav-item {
  transition: background-color cubic-bezier(0.38, 0, 0.24, 1) 0s;
}
