.menuColor {
  // background: linear-gradient(360deg, rgba(0,68,115,0.64) 0%, rgba(0,72,122,0.16) 100%);
  border: 1px solid;
  border-image: linear-gradient(180deg, rgba(116, 190, 243, 0.5), rgba(0, 180, 255, 1)) 1 1;
  color: #24deff;
  background: var(--logo-bg) no-repeat top right,
    linear-gradient(360deg, rgba(0, 68, 115, 0.64) 0%, rgba(0, 72, 122, 0.16) 100%) !important;
}

.openColor {
  background: linear-gradient(360deg, rgba(0, 68, 115, 0.64) 0%, rgba(0, 72, 122, 0.16) 100%);
}

.navHColor {
  background: linear-gradient(270deg, rgba(0, 202, 255, 0.68) 0%, rgba(0, 150, 255, 0) 100%);
  border-bottom: 1px solid;
  border-image: linear-gradient(180deg, rgba(116, 190, 243, 0), rgba(0, 180, 255, 0.6)) 1 1;
  color: #24deff;
}
