// 缩略图默认样式
.bgImage {
  background: url("../../assets/intelligentOilfield/bgImg.png");
  background: #51a1ff;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
  font-size: 22px;
  box-shadow: 0 0 4px 0 rgba(144, 147, 153, 0.3);
}

.circleImage {
  background: url("../../assets/intelligentOilfield/circleImg.png");
  border-radius: 28px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
  font-size: 22px;
  box-shadow: 0 0 4px 0 rgba(144, 147, 153, 0.3);
}

.squareImage {
  background: url("../../assets/intelligentOilfield/squareImg.png");
  border-radius: 2px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
  font-size: 22px;
  box-shadow: 0 0 4px 0 rgba(144, 147, 153, 0.3);
}

.linkImage {
  background: url("../../assets/intelligentOilfield/link-light.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  margin-top: 7px;
}

// 首页样式
.home-marquee-fa {
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(144, 147, 153, 0.3);
  display: flex;
  padding: 10px;

  .home-marquee_head {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--light-blue-color);
    font-weight: 700;
  }
}

.home-main {
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(144, 147, 153, 0.3);

  .home-card {
    border: 1px solid #0075e9;
  }

  .card-title {
    color: #0075e9;
    box-shadow: 0 1px 0 0 rgba(144, 147, 153, 0.5);
  }
}
