.el-button--primary {
  background: var(--primary-btn) !important;
  border-radius: 0;
  border: 0;
  color: #fff;
  // width: 100px;
  font-size: 14px;
  height: 40px;
}

.el-button--primary.is-plain {
  color: #fff;
  background: var(--primary-btn);
  font-size: 14px;
}

.commonBtn {
  background: #fff !important;
  border: 1px solid var(--light-blue-color) !important;
  border-radius: 0;
  color: var(--light-blue-color) !important;
  height: 40px;
  // width: 100px;
  font-size: 14px;
  // background-image: var(--logo-bg) !important;
  background-size: 100% 100% !important;
}

.el-button--text {
  color: var(--light-blue-color);
  font-family: PingFangSC-Medium, "PingFang SC";
  font-weight: 500;
  padding: 0 !important;
}

.cancelBtn {
  border-radius: 0;
  background: #fff !important;
  border: 1px solid #dcdfe6 !important;
  color: #606266 !important;
  // background-image: var(--logo-bg) !important;
  background-size: 100% 100% !important;
}

.errorBtn {
  background: #a61d24 !important;
  color: #fff !important;
  // background-image: var(--logo-bg) !important;
  background-size: 100% 100% !important;
  border-radius: 0;
  border: 1px solid #a61d24;
}

.errorBtnplain {
  background-color: transparent !important;
  color: #a61d24 !important;
  border: 1px solid #a61d24 !important;
  // background-image: var(--logo-bg) !important;
  background-size: 100% 100% !important;
  border-radius: 0;
}

.disableBtn {
  color: #c0c4cc !important;
  cursor: not-allowed;
  border-color: #c0c4cc !important;
  border-radius: 0;
  // background-image: var(--logo-bg) !important;
  background-size: 100% 100% !important;
}

.el-button {
  //TODO: Maybe change back UI调整
  //height: 40px;
  height: 34px;
  padding: 10px 16px;
  transition: 0s;
}

.el-button + .el-button {
  margin-left: 20px !important;
}

//按钮hover时的样式
.buttonActive_primary:hover {
  background: var(--primary-btn) !important;
  border: none;
  // background-image: var(--logo-bg) !important;
  background-size: 100% 100% !important;
}

.buttonActive_primary {
  // background-image: var(--logo-bg) !important;
  background-size: 100% 100% !important;
}

.commonBtn:hover {
  color: #409eff !important;
  border-color: #c6e2ff !important;
  background-color: #ecf5ff !important;
}

.cancelBtn:hover {
  color: #409eff !important;
  border-color: #c6e2ff !important;
  background-color: #ecf5ff !important;
}

.disableBtn:hover {
  background-color: #fff !important;
}

.el-button--small {
  border-radius: 0;
}

.delbutton {
  color: #ff4d4f;
}
