.el-card {
  border: 1px solid var(--light-blue-color);

  .el-card__header {
    background: linear-gradient(to right, var(--only-light-blue-color), rgba(0, 96, 166, 0.2));
    color: #fff;
    padding: 10px 20px;
  }
}
