.el-collapse {
  background: transparent;
  border: none !important;

  .el-collapse-item__header {
    background-color: transparent;
    color: var(--td-text-color-primary);
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid var(--td-border-level-1-color);
  }

  .el-collapse-item__wrap {
    background-color: transparent;
    border: none;
  }
}

.settingBtn {
  border-bottom: 1px solid var(--td-border-level-1-color);
}

.t-drawer {
  z-index: 2010;
}

.t-drawer__close-btn {
  background-color: transparent;
  top: 5px;
  right: 5px;
}

.t-drawer__header {
  height: 32px;
  min-height: 32px;
  line-height: 32px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 500;
}

.t-drawer__body {
  background: transparent;
  padding: 0 20px;
}
