.el-checkbox {
  color: var(--white-opacity7);
  // background-image: var(--logo-bg) !important;
  background-size: 100% 100% !important;
}

.el-checkbox__input.is-checked + .el-checkbox__label {
  color: var(--light-blue-color);
}

.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  border-color: var(--light-blue-color);
  background: var(--light-blue-color);
}

.el-checkbox__inner {
  z-index: 0;
  transition: border-color 0s cubic-bezier(0.71, -0.46, 0.29, 1.46),
    background-color 0s cubic-bezier(0.71, -0.46, 0.29, 1.46);
}
