.el-cascader-panel {
  border: 0 solid rgba(27, 87, 130, 1);
}

.el-cascader-node.in-active-path,
.el-cascader-node.is-active,
.el-cascader-node.is-selectable.in-checked-path {
  color: var(--light-blue-color);
}

.el-icon-check::before {
  color: var(--light-white-color);
}

.el-cascader .el-input .el-input__inner:focus,
.el-cascader .el-input.is-focus .el-input__inner {
  border-color: var(--light-blue-color);
}
