.el-notification {
  height: auto !important;
  //max-height: 66px !important;
  background: var(--logo-bg) no-repeat top right, #fff;
  align-items: center;
}

.el-notification__title {
  color: #fff;
}

.el-notification__content p {
  overflow: hidden;
  /* stylelint-disable */
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-left: 7px;
  font-size: 12px;
}

.el-notification__group {
  margin-left: 0px;
}

.el-notification__title {
  margin-left: 12px;
}

.el-notification__content {
  margin: 0;
}
