// progress进度条
.el-progress {
  // background-image: var(--logo-bg) !important;
  background-size: unset !important;
  background-repeat: no-repeat !important;
  background-position: right top !important;
}

.el-icon-circle-check::before {
  color: #67c23a;
}

.el-icon-warning::before {
  color: #e6a23c;
}

.el-badge__content,
.el-progress.is-exception .el-progress-bar__inner {
  background-color: rgba(166, 29, 36, 1);
}

.el-icon-circle-close::before {
  color: red;
}

.smallProgress .el-progress__text {
  font-size: 12px !important;
}

.el-icon-check::before {
  color: #67c23a;
  font-weight: 700;
}

.el-icon-close::before {
  color: rgba(144, 130, 145, 1);
  font-weight: 700;
}

// result结果
.el-result__title p {
  color: var(--form-tex);
}

.el-result__subtitle p {
  color: rgba(0, 0, 0, 0.5);
}

.el-result .icon-warning {
  fill: rgba(166, 29, 36, 1);
}
