.el-slider {
  // background-image: var(--logo-bg) !important;
  background-size: unset !important;
  background-repeat: no-repeat !important;
  background-position: right top !important;
}

.el-slider__bar {
  background-color: var(--light-blue-color);
}

.secondmenu,
.menuTitle {
  border-bottom: 1px solid #e9e9e9;
  color: #606266;
}

.secondmenu .secondTitle {
  color: #606266;
}

.thirdmenu div {
  color: #909399;
}

.secondmenu .secondTitle:hover {
  color: var(--light-blue-color);
}

.secondmenu .secondDefault:hover {
  color: #606266 !important;
}

.thirdmenu div:hover {
  color: var(--light-blue-color);
}

.t-head-menu .el-icon-arrow-left {
  color: #fff !important;
}

.t-head-menu .el-icon-arrow-right {
  color: #fff !important;
}

.t-default-menu.t-is-collapsed .t-menu__item.t-is-active.t-is-opened {
  background-color: var(--td-brand-color-1);
}

.el-slider__button-wrapper {
  z-index: 0;
}
