//部门数据样式
.head-container {
  .el-tree {
    .el-tree-node__content {
      height: auto;
      padding: 10px 0;
      margin: 0 30px;
    }
  }
}

.el-tree {
  // background-image: var(--logo-bg) !important;
  background-size: unset !important;
  background-repeat: no-repeat !important;
  background-position: right top !important;
}

.el-tree-node__label {
  font-size: 14px;
}

.mbBottom {
  margin-bottom: 15px;
}

.mb8 {
  display: flex;
  justify-content: flex-start;

  .el-col {
    padding-right: 15px !important;
  }
}

//分页器
.pagination-container {
  background: transparent;

  .el-pagination {
    text-align: right;
  }
}
// 部门数据
.left {
  background: #fff;
  padding-top: 10px;
  // height: 84vh;
  height: calc(100vh - 141px);
  box-shadow: 0 0 10px 0 rgba(144, 147, 153, 0.3);
  border: 1px solid transparent;
}
