.imageUpload {
  .el-upload,
  .el-upload--text {
    // border: 1px dashed var(--light-blue-color);
    width: 100px;
    height: 100px;
    // background-image: var(--logo-bg) !important;
    background-size: 100% 100% !important;
  }
}

.el-upload,
.el-upload--text {
  border: 1px dashed var(--light-blue-color);
}

.avatar-uploader .el-upload {
  border: 1px dashed var(--light-blue-color);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: #fff;
}

.avatar-uploader .el-upload:hover {
  border: 1px dashed var(--light-blue-color);
}

.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

.avatar {
  width: 100px;
  height: 100px;
  display: block;
}
