.marquee-fa {
  background: #fff;
  display: flex;
  padding: 10px;
  // background-image: var(--logo-bg) !important;
  background-size: unset !important;
  background-repeat: no-repeat !important;
  background-position: right top !important;
  border-radius: 2px;
  box-shadow: 0 0 10px 0 rgba(144, 147, 153, 0.3);

  .marquee_head {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--light-blue-color);
    font-weight: 500;
  }

  .scrollMarquee {
    color: #606266;
    font-size: 16px;
  }
}
