.el-message-box {
  background: #fff !important;
  margin: 0 auto !important;
  border: unset;
}

.el-message-box__header {
  background: #0075e9;
  padding: 10px 20px;
  // background-image: var(--logo-bg) !important;
  background-size: 100% 100% !important;

  .el-icon-close::before {
    color: #fff;
  }

  .el-message-box__headerbtn {
    top: 10px !important;
  }
}

.el-message-box__content {
  padding: 0 10px;
  margin: 20px;
  text-align: left;
  font-size: 14px;
}

.el-message-box__title {
  color: #fff;
  font-size: 14px;
}
