.menuColor {
  color: #0075e9;
  background: var(--logo-bg) no-repeat top right #fff !important;
}

.openColor {
  background: #fff;
}

.navHColor {
  background: #fff;
  border-bottom: 1px solid rgba(201, 203, 206, 1);
  color: #0075e9;
}
