@import "./variables.less";
@import "./font-family.less";
@import "./theme/index.less";
@import "./reset.less";
@import "./replace-ele.less";
// layout.less 移到 main.ts 中单独引入，确保在 tdesgin-global.less 之后加载

.is-in-iframe {
  height: calc(100vh - 6px) !important;

  .tdesign-starter-content-layout {
    padding: 0;
  }

  .t-layout__content,
  .tdesign-starter-layout {
    height: 100%;
  }
}

.height-placeholder {
  min-height: 1px;
}
:deep(.tdesign-starter-layout-tabs-nav) + :deep(.tdesign-starter-content-layout) {
    padding-top: 0px;
}

// 该样式用于修复在使用elementui的表格时，当同时存在固定列、横向和竖向滚动条时，滚动到最后一条会出现表格错位的问题。
.el-table__body-wrapper {
  &::-webkit-scrollbar {
    height: 5px;
  }
}

.el-table__fixed-body-wrapper .el-table__body {
  padding-bottom: 5px;
}

/* stylelint-disable-next-line */
#fullScreen_panorama {
  position: absolute;
}

.dialog-table {
  max-height: 450px;
  overflow-y: auto !important;
}
