.g-pageHeader .el-tabs__nav{
    padding-left:10px!important;
}

.g-pageHeader .el-tabs__active-bar{
    left:10px!important;
}

.pageHeader{
    margin-left:0!important;
    .z-button{
        height:30px;
    }
}

.el-date-editor .el-range-separator{
    width:auto;
}

.develop{
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:25px;
    span{
        cursor: pointer;
        width:0;
        height:0;
        border:15px solid var(--td-text-color-primary);
        border-right-color:transparent;
        border-left-color:transparent;
        border-bottom-color:transparent;
    }
    .top-span{
        border-top:0;
        border-bottom:15px solid var(--td-text-color-primary);
        margin-bottom:15px;
    }
    .active-span{
        animation:mymove 1.5s infinite;
    }
    @keyframes mymove{
        0% {transform: translate(0px, 0px);}
        50% {transform: translate(0px, -10px);}
        100% {transform: translate(0px, 0px);}
    }
}