.t-table .t-table__body tr:hover {
  background: var(--top-bottom-light); // 深色模式——table滑过行颜色
}

.t-layout__sider {
  border-right: 1px solid var(--left-tab);
  z-index: 10;
  transition: all 0s;
}

.t-card--bordered {
  border: 1px solid var(--card-color);
}

.t-menu__item.t-is-active {
  background: var(--td-brand-color-1);
  color: var(--light-blue-color) !important;
}

.t-head-menu .t-menu__item {
  color: var(--white-color);
  min-width: 137px !important;
  transition: all 0s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.t-notification {
  background: var(--white-color);
}

// 解决左侧菜单过长显示不全问题
.t-default-menu__inner {
  height: 94%;
}

// 解决顶部菜单过长显示不全问题
.t-head-menu .t-menu,
.header-menu {
  overflow: visible;
  white-space: nowrap;
  overflow-x: auto;
  width: 100%;
}

.t-head-menu .t-menu__popup {
  position: fixed;
  top: 63px;
  min-width: 153px;
  width: 404px;
  overflow: auto;
}

.t-head-menu .t-is-opened,
.t-layout__sider .t-is-opened {
  // 注释掉是为了解决菜单展开高度限制会菜单重叠
  // max-height: var(--popup-max-height, 600px);
}

.t-layout__sider .t-menu__popup.t-is-opened.t-is-vertical {
  width: var(--popup-width, 404px) !important;
}

.t-menu__popup .t-menu__popup-wrapper div li:last-of-type {
  left: 0 !important;
}

.t-head-menu .t-submenu > .t-menu__item {
  padding: 0 12px;
}

.header-menu {
  width: 100%;
}

// 门户/投影-面板缩放功能置顶
.vue-grid-item > .vue-resizable-handle {
  z-index: 1;
}

.tdesign-starter-layout-tabs-nav + .tdesign-starter-content-layout {
  padding: 10px 0 10px 10px;
}

.tdesign-starter-side-nav {
  transition: all 0s;
}

.t-head-menu .t-submenu > .t-menu__item::before {
  height: 0 !important;
}

//左侧菜单收起，下拉框样式
.t-default-menu__inner .t-menu {
  overflow-y: scroll;
  padding-bottom: 30px;
}

.t-default-menu.t-menu--dark .t-menu__popup {
  background: #004575;
  height: 100vh;
  overflow: auto;

  .t-menu__item {
    padding-left: 8px;
  }
}

.t-default-menu.t-menu--dark .t-submenu .t-is-opened:last-child {
  //TODO: Maybe change back
  //border: 1px solid;
  //border-image: linear-gradient(180deg, rgba(116, 190, 243, 0.5), rgba(0, 180, 255, 1)) 1 1;
}

.t-default-menu.t-menu--light .t-menu__popup {
  border-radius: 0;
  box-shadow: 0 0 10px 0 rgba(144, 147, 153, 0.3);
  height: 100vh;
  overflow: auto;

  .t-menu__item {
    padding-left: 8px;
  }
}

//顶部菜单下拉框样式
.t-menu--dark.t-head-menu .t-menu__popup {
  background: #004575;
  //background: linear-gradient(
  //  360deg,
  //  rgba(0, 68, 115, 0.6) 0%,
  //  rgba(0, 69, 117, 0.79) 50%,
  //  rgba(0, 69, 117, 0.9) 97%,
  //  rgba(0, 69, 117, 0.5) 100%
  //);

  .t-menu__item {
    padding-left: 8px;
  }
}

.t-menu--dark.t-head-menu .t-submenu .t-is-opened:last-child {
  border: 1px solid;
  border-image: linear-gradient(180deg, rgba(116, 190, 243, 0.5), rgba(0, 180, 255, 1)) 1 1;
}

.t-menu--light.t-head-menu .t-menu__popup {
  border-radius: 0;
  box-shadow: 0 0 10px 0 rgba(144, 147, 153, 0.3);

  .t-menu__item {
    padding-left: 8px;
  }
}

.t-default-menu .t-menu__popup {
  position: fixed;
  top: 96px;
  left: 229px;
  max-height: 100vh !important;
  z-index: 999;
}

.t-is-collapsed .t-menu__popup {
  left: 66px !important;
}

.t-default-menu .t-submenu {
  width: 222px;
}

.tdesign-starter-sidebar-compact .t-submenu {
  width: 48px !important;
}
