:root,
:root[theme-mode="light"] {
  --chart1: rgba(31, 119, 180, 1);
  --chart2: rgba(244, 127, 14, 1);
  --chart3: rgba(44, 160, 44, 1);
  --chart4: rgba(214, 39, 40, 1);
  --chart5: rgba(148, 103, 189, 1);
  --chart6: rgba(140, 86, 75, 1);
  --chart7: rgba(227, 119, 194, 1);
  --chart8: rgba(127, 127, 127, 1);
  --chart9: rgba(188, 189, 24, 1);
  --chart10: rgba(23, 190, 207, 1);
  --text1: rgba(96, 98, 102, 1);
  --chart-label-bg-1: rgba(255, 255, 255, 1);
  --chart-label-bd-1: #333;
}

:root[theme-mode="dark"] {
  --chart10: rgba(31, 119, 180, 1);
  --chart9: rgba(244, 127, 14, 1);
  --chart8: rgba(44, 160, 44, 1);
  --chart7: rgba(214, 39, 40, 1);
  --chart6: rgba(148, 103, 189, 1);
  --chart5: rgba(140, 86, 75, 1);
  --chart4: rgba(227, 119, 194, 1);
  --chart3: rgba(127, 127, 127, 1);
  --chart2: rgba(188, 189, 24, 1);
  --chart1: rgba(23, 190, 207, 1);
  --text1: rgba(255, 255, 255, 1);
  --chart-label-bg-1: rgba(17, 58, 78, 0.6);
  --chart-label-bd-1: #333;
}
